<mat-card>
    <mat-form-field>
        <input matInput #workerName placeholder="Nombre trabajador" (keyup)="search(workerName.value)">
    </mat-form-field>

    <mat-list role="list">
        <a routerLink="/worker/{{worker.rut}}" *ngFor="let worker of workers | async">
            <mat-list-item role="listitem">
                <h4 mat-line>{{worker.name}}</h4>
                <p mat-line>{{worker.rut}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
        </a>
    </mat-list>
</mat-card>