<mat-card>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-card>
        <mat-list>
          <mat-list-item>
            <a routerLink="/vital-signs">Signos vitales</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a routerLink="/workers">Trabajadores</a>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-card>