<mat-card-title *ngIf="worker">
    {{ worker.name }}
</mat-card-title>
<mat-accordion>
    <mat-expansion-panel *ngFor="let oxygenVitalSign of oxygenVitalSigns | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ getCreationDate(oxygenVitalSign.creationTime) }}
            </mat-panel-title>
            <mat-panel-description>
                {{ oxygenVitalSign.oxygenSaturationValue }} SO2
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            Trabajador: {{ oxygenVitalSign.worker.name }}
        </div>
        <div>
            Localizacion: {{ oxygenVitalSign.location.latitude }} / {{ oxygenVitalSign.location.longitude }}
        </div>
    </mat-expansion-panel>
</mat-accordion>